<body>
    <header class='border-b py-4 px-4 sm:px-10 bg-green font-sans min-h-[70px]'>
        <div class='flex flex-wrap items-center justify-around'>

          <a href="javascript:void(0)"><img src="Logo.png" alt="logo" class='w-20 h-20' />
          </a>

          <button class='lg:hidden ml-auto'>
            <svg class="w-7 h-7" fill="#000" viewBox="" xmlns="http://www.w3.org/2000/svg">
            </svg>
          </button>

          <div class='flex max-lg:w-full max-lg:mt-5'>
            <div class='flex xl:w-80 max-xl:w-full'>
              <input type='text' placeholder='Search something...' class='bg-gray-50 w-full px-6 rounded h-9 outline-none' />
            </div>
          </div>

          <ul class='flex lg:ml-16 lg:space-x-3 max-lg:space-y-2 max-lg:block max-lg:w-full max-lg:mt-6'>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)'
                class='lg:hover:text-[#007bff] text-black text-gray-500 block font-semibold text-sm'>Men's</a>
            </li>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)'
                class='lg:hover:text-[#007bff] text-black text-gray-500 block font-semibold text-sm'>Women's</a>
            </li>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)'
                class='lg:hover:text-[#007bff] text-black text-gray-500 block font-semibold text-sm'>Equipment & Gear</a>
            </li>
            <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)'
                class='lg:hover:text-[#007bff] text-black text-gray-500 block font-semibold text-sm'>Supplementary Items</a>
            </li>
          </ul>
        </div>
      </header>
</body>