<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head"); %>
</head>
<body>
    <%- include('partials/header.ejs'); %>
    <%- include('partials/about_us.ejs'); %>
</body>


<footer class="bg-white dark:bg-gray-900">
    <%- include("partials/footer.ejs"); %>
</footer>

</html>